In [1]:
import pandas as pd

In [2]:
try:
    # Try loading the file from your laptop path
    df = pd.read_csv('C:/Users/user/OneDrive/Documents/GitHub/Data-Analysis-Portfolio/bike-sales/Sales.csv')
except FileNotFoundError:
    # If the file is not found, try loading from the PC path
    df = pd.read_csv('C:/Users/Eugene/Documents/GitHub/Data-Analysis-Portfolio/bike-sales/Sales.csv')

In [3]:
df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

## Analysis

### **1. Product Division**

This division focuses on understanding the performance of various products and product categories to guide inventory, marketing, and development strategies.

#### **Analysis 1: Top-selling Products by Revenue and Profit**

In [4]:
# Group by product and calculate total revenue and profit
product_performance = df.groupby('Product').agg({
    'Revenue': 'sum',
    'Profit': 'sum',
    'Order_Quantity': 'sum'
}).reset_index()

In [5]:
# Top 10 products by revenue
top_products_revenue = product_performance.sort_values(by='Revenue', ascending=False).head(10)
top_products_revenue

                    Product  Revenue   Profit  Order_Quantity
61         Road-150 Red, 62  3829416  1243755            1191
32   Mountain-200 Black, 38  3366248  1310464            1642
59         Road-150 Red, 52  3180840  1053260             980
60         Road-150 Red, 56  3158805  1009515             990
36  Mountain-200 Silver, 42  3081078  1231452            1461
35  Mountain-200 Silver, 38  3035442  1165560            1477
58         Road-150 Red, 48  2965309   898517             952
34   Mountain-200 Black, 46  2769620  1080672            1349
33   Mountain-200 Black, 42  2641606  1036542            1282
37  Mountain-200 Silver, 46  2376146   921512            1149

In [6]:
# Top 10 products by profit
top_products_profit = product_performance.sort_values(by='Profit', ascending=False).head(10)
top_products_profit

                     Product  Revenue   Profit  Order_Quantity
32    Mountain-200 Black, 38  3366248  1310464            1642
61          Road-150 Red, 62  3829416  1243755            1191
36   Mountain-200 Silver, 42  3081078  1231452            1461
101    Sport-100 Helmet, Red  2019021  1191402           63663
35   Mountain-200 Silver, 38  3035442  1165560            1477
99   Sport-100 Helmet, Black  1948695  1141330           62105
34    Mountain-200 Black, 46  2769620  1080672            1349
59          Road-150 Red, 52  3180840  1053260             980
100   Sport-100 Helmet, Blue  1775081  1048446           55895
33    Mountain-200 Black, 42  2641606  1036542            1282

#### **Analysis 2: Product Category and Sub-category Performance**

In [7]:
# Group by product category and sub-category
category_performance = df.groupby(['Product_Category', 'Sub_Category']).agg({
    'Revenue': 'sum',
    'Profit': 'sum',
    'Order_Quantity': 'sum'
}).reset_index().sort_values(by='Revenue', ascending=False)
category_performance

   Product_Category       Sub_Category   Revenue    Profit  Order_Quantity
9             Bikes         Road Bikes  33363061  10078875           19771
8             Bikes     Mountain Bikes  21123526   8160463           11992
10            Bikes      Touring Bikes   7295547   2279938            4648
5       Accessories            Helmets   5741081   3380203          181606
7       Accessories    Tires and Tubes   4670902   2727713          514051
13         Clothing            Jerseys   4113742    603568           88125
14         Clothing             Shorts   1740710   1034342           27168
2       Accessories  Bottles and Cages   1409174    810598          241726
4       Accessories            Fenders   1245733    748914           62138
6       Accessories    Hydration Packs    990406    572668           19914
16         Clothing              Vests    949063    518791           14526
12         Clothing             Gloves    871419    511654           39978
11         Clothing               Caps    548777     77921           67268
0       Accessories         Bike Racks    517800    304455            4741
1       Accessories        Bike Stands    344075    201935            2412
3       Accessories           Cleaners    198821    115891           27574
15         Clothing              Socks    147171     93171           17678

#### **Analysis 3: Low-performing Products**

In [8]:
# Products with lowest revenue (Bottom 10)
low_products_revenue = product_performance.sort_values(by='Revenue').head(10)

In [9]:
# Products with lowest profit margins
product_performance['Profit_Margin'] = product_performance['Profit'] / product_performance['Revenue']
low_profit_margin = product_performance.sort_values(by='Profit_Margin').head(10)

low_profit_margin

,Product,Revenue,Profit,Order_Quantity,Profit_Margin
96,"Short-Sleeve Classic Jersey, M",427299,43713,9133,0.102301
95,"Short-Sleeve Classic Jersey, L",503179,64909,10435,0.128998
98,"Short-Sleeve Classic Jersey, XL",447126,58878,9244,0.131681
97,"Short-Sleeve Classic Jersey, S",559237,74389,11544,0.133019
0,AWC Logo Cap,549220,78008,67316,0.142034
19,"Long-Sleeve Logo Jersey, XL",515629,76767,11549,0.148880
18,"Long-Sleeve Logo Jersey, S",493678,79630,10896,0.161299
16,"Long-Sleeve Logo Jersey, L",643544,112342,13979,0.174568
17,"Long-Sleeve Logo Jersey, M",524050,92940,11345,0.177349
72,"Road-350-W Yellow, 44",601328,159464,408,0.265186

#### **Predictive Analytics: Forecast Product Demand (XGBoost)**

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

# Assuming you have preprocessed the dataset and created features for demand forecasting
X = df[['Product_Category', 'Order_Quantity', 'Previous_Demand']]
y = df['Revenue']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the model
model = XGBRegressor()
model.fit(X_train, y_train)

# Predict future demand
y_pred = model.predict(X_test)

### **2. Customer Division**

This division focuses on customer analysis, including demographics, purchase behavior, and customer lifetime value.

#### **Analysis 1: Customer Age Group and Revenue**

In [10]:
# Revenue and order quantity by age group
age_group_revenue = df.groupby('Age_Group').agg({
    'Revenue': 'sum',
    'Order_Quantity': 'sum'
}).reset_index().sort_values(by='Revenue', ascending=False)

age_group_revenue

              Age_Group   Revenue  Order_Quantity
0        Adults (35-64)  42584153          672417
2  Young Adults (25-34)  30655614          446875
3           Youth (<25)  11723199          216147
1         Seniors (64+)    308042            9877

#### **Analysis 2: Gender-based Buying Behavior**

In [11]:
# Revenue and quantity breakdown by gender
gender_sales = df.groupby('Customer_Gender').agg({
    'Revenue': 'sum',
    'Order_Quantity': 'sum'
}).reset_index()

gender_sales

  Customer_Gender   Revenue  Order_Quantity
0               F  41935599          645733
1               M  43335409          699583

#### **Analysis 3: Customer Country Lifetime Value (CLV)**

In [12]:
# Group by customer to calculate total revenue per customer
clv = df.groupby('Country').agg({
    'Revenue': 'sum',
    'Order_Quantity': 'sum'
}).reset_index().sort_values(by='Revenue', ascending=False)

clv

          Country   Revenue  Order_Quantity
5   United States  27975547          477539
0       Australia  21302059          263585
4  United Kingdom  10646196          157218
3         Germany   8978596          125720
2          France   8432872          128995
1          Canada   7935738          192259

#### **Predictive Analytics: Forecast Customer Demand (XGBoost)**

In [ ]:
# Using XGBoost to forecast customer demand
X = df[['Age_Group', 'Customer_Gender', 'Order_Quantity']]
y = df['Revenue']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = XGBRegressor()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

### **3. Sales and Regional Performance Division**

This division explores sales trends and performance across regions and time to drive location-based strategies.

#### **Analysis 1: Revenue by Region (Country, State)**

In [13]:
# Revenue breakdown by country and state
regional_sales = df.groupby(['Country', 'State']).agg({
    'Revenue': 'sum',
    'Order_Quantity': 'sum'
}).reset_index().sort_values(by='Revenue', ascending=False)
regional_sales

           Country                State   Revenue  Order_Quantity
33   United States           California  17672620          269759
30  United Kingdom              England  10646196          157218
0        Australia      New South Wales   9203495          115932
6           Canada     British Columbia   7877890          191556
51   United States           Washington   6741510          137947
1        Australia           Queensland   5066267           57592
4        Australia             Victoria   5054839           66231
46   United States               Oregon   3450410           67012
27         Germany               Hessen   2073391           26382
29         Germany             Saarland   2029545           31084
28         Germany  Nordrhein-Westfalen   1804900           29923
17          France        Seine (Paris)   1643279           27433
26         Germany              Hamburg   1559005           20427
2        Australia      South Australia   1397274           15791
24         Germany               Bayern   1341985           15617
15          France                 Nord   1324652           19155
18          France    Seine Saint Denis   1131634           20056
9           France              Essonne    973532           11884
11          France       Hauts de Seine    937140           12776
23          France              Yveline    691136           10908
3        Australia             Tasmania    580184            8039
19          France       Seine et Marne    373285            4486
13          France               Loiret    325172            4305
14          France              Moselle    266223            4185
10          France      Garonne (Haute)    183906            2415
25         Germany          Brandenburg    169770            2287
21          France           Val d'Oise    148295            3307
8           France    Charente-Maritime    106047            1631
20          France                Somme    102179            1657
22          France         Val de Marne     93446            2112
12          France         Loir et Cher     82533            1477
5           Canada              Alberta     56803             587
16          France        Pas de Calais     50413            1208
52   United States              Wyoming     21973              84
36   United States             Illinois     20141             299
34   United States              Florida     11014             125
45   United States                 Ohio      9747             572
32   United States              Arizona      9379               7
48   United States                Texas      6835             330
43   United States             New York      5257             276
35   United States              Georgia      4862             112
38   United States        Massachusetts      4084               2
49   United States                 Utah      4037             126
37   United States             Kentucky      3756             130
42   United States              Montana      2005             122
41   United States             Missouri      1739              66
40   United States          Mississippi      1684              91
39   United States            Minnesota      1466             131
47   United States       South Carolina      1241             117
50   United States             Virginia      1172              63
7           Canada              Ontario      1045             116
44   United States       North Carolina       405              63
31   United States              Alabama       210             105

#### **Analysis 2: Monthly and Yearly Sales Trends**

In [14]:
# Revenue trend by year and month
monthly_sales = df.groupby(['Year', 'Month']).agg({
    'Revenue': 'sum'
}).reset_index().sort_values(by=['Year', 'Month'])

monthly_sales

    Year     Month  Revenue
0   2011     April   698782
1   2011    August   880037
2   2011  December  1132666
3   2011  February   637598
4   2011   January   675193
..   ...       ...      ...
57  2016   January  2553065
58  2016      July   499960
59  2016      June  3586300
60  2016     March  2608663
61  2016       May  3264343

[62 rows x 3 columns]

In [15]:
# Yearly trend comparison
yearly_sales = df.groupby('Year')['Revenue'].sum().reset_index().sort_values(by='Year')

yearly_sales

   Year   Revenue
0  2011   8964888
1  2012   9175983
2  2013  15240037
3  2014  14152724
4  2015  20023991
5  2016  17713385

#### **Analysis 3: Sales Growth Rate by Region**

In [16]:
# Calculate growth rate for each country/state
df['Year'] = pd.to_datetime(df['Date']).dt.year
growth_rate_region = df.groupby(['Country', 'State', 'Year']).agg({
    'Revenue': 'sum'
}).pct_change().reset_index().sort_values(by='Revenue', ascending=False)
growth_rate_region

           Country             State  Year      Revenue
250  United States        Washington  2011  1359.288732
188  United States        California  2011   266.435721
232  United States            Oregon  2011   150.482051
36          Canada  British Columbia  2011   100.276359
204  United States          Illinois  2013    66.647059
..             ...               ...   ...          ...
238  United States    South Carolina  2014    -0.999057
194  United States           Florida  2013    -0.999201
42          Canada           Ontario  2013    -0.999664
182  United States           Alabama  2013    -0.999981
0        Australia   New South Wales  2011          NaN

[262 rows x 4 columns]

#### **Predictive Analytics: Revenue Forecasting (XGBoost)**

In [ ]:
# Forecast future regional sales using XGBoost
X = df[['Country', 'State', 'Order_Quantity']]
y = df['Revenue']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = XGBRegressor()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

### **4. Profitability and Cost Efficiency Division**

This division dives into profit generation and cost efficiency across different business areas.

#### **Analysis 1: Profit by Product Category and Sub-category**

In [17]:
# Profit breakdown by product category and sub-category
profitability_category = df.groupby(['Product_Category', 'Sub_Category']).agg({
    'Profit': 'sum'
}).reset_index().sort_values(by='Profit', ascending=False)
profitability_category

   Product_Category       Sub_Category    Profit
9             Bikes         Road Bikes  10078875
8             Bikes     Mountain Bikes   8160463
5       Accessories            Helmets   3380203
7       Accessories    Tires and Tubes   2727713
10            Bikes      Touring Bikes   2279938
14         Clothing             Shorts   1034342
2       Accessories  Bottles and Cages    810598
4       Accessories            Fenders    748914
13         Clothing            Jerseys    603568
6       Accessories    Hydration Packs    572668
16         Clothing              Vests    518791
12         Clothing             Gloves    511654
0       Accessories         Bike Racks    304455
1       Accessories        Bike Stands    201935
3       Accessories           Cleaners    115891
15         Clothing              Socks     93171
11         Clothing               Caps     77921

#### **Analysis 2: Profit Margins by Product**

In [18]:
# Profit margin calculation
df['Profit_Margin'] = df['Profit'] / df['Revenue']
profit_margin_by_product = df.groupby('Product').agg({
    'Profit_Margin': 'mean'
}).reset_index().sort_values(by='Profit_Margin', ascending=False)
profit_margin_by_product

                            Product  Profit_Margin
56                   Road Tire Tube       0.722138
53                  Racing Socks, L       0.630829
54                  Racing Socks, M       0.629262
55                 Road Bottle Cage       0.625271
21                     ML Road Tire       0.597989
..                              ...            ...
0                      AWC Logo Cap       0.134941
98  Short-Sleeve Classic Jersey, XL       0.127554
95   Short-Sleeve Classic Jersey, L       0.125274
97   Short-Sleeve Classic Jersey, S       0.124321
96   Short-Sleeve Classic Jersey, M       0.100587

[130 rows x 2 columns]

#### **Analysis 3: Cost Efficiency by Region**

In [19]:
# Cost efficiency analysis by country and state
regional_cost_efficiency = df.groupby(['Country', 'State']).agg({
    'Cost': 'sum',
    'Revenue': 'sum'
}).reset_index()
regional_cost_efficiency['Cost_Efficiency'] = regional_cost_efficiency['Revenue'] / regional_cost_efficiency['Cost']
regional_cost_efficiency

           Country                State     Cost   Revenue  Cost_Efficiency
0        Australia      New South Wales  6069811   9203495         1.516274
1        Australia           Queensland  3447109   5066267         1.469715
2        Australia      South Australia   972435   1397274         1.436882
3        Australia             Tasmania   409861    580184         1.415563
4        Australia             Victoria  3626813   5054839         1.393741
5           Canada              Alberta    33453     56803         1.697994
6           Canada     British Columbia  4184542   7877890         1.882617
7           Canada              Ontario      447      1045         2.337808
8           France    Charente-Maritime    60047    106047         1.766067
9           France              Essonne   579684    973532         1.679418
10          France      Garonne (Haute)   110959    183906         1.657423
11          France       Hauts de Seine   573003    937140         1.635489
12          France         Loir et Cher    49772     82533         1.658221
13          France               Loiret   206681    325172         1.573304
14          France              Moselle   166547    266223         1.598486
15          France                 Nord   859107   1324652         1.541894
16          France        Pas de Calais    31701     50413         1.590265
17          France        Seine (Paris)  1132112   1643279         1.451516
18          France    Seine Saint Denis   775907   1131634         1.458466
19          France       Seine et Marne   259070    373285         1.440865
20          France                Somme    69980    102179         1.460117
21          France           Val d'Oise    98549    148295         1.504784
22          France         Val de Marne    66624     93446         1.402588
23          France              Yveline   512847    691136         1.347646
24         Germany               Bayern   765294   1341985         1.753555
25         Germany          Brandenburg    98418    169770         1.724989
26         Germany              Hamburg   942506   1559005         1.654106
27         Germany               Hessen  1259989   2073391         1.645563
28         Germany  Nordrhein-Westfalen  1157143   1804900         1.559790
29         Germany             Saarland  1395251   2029545         1.454609
30  United Kingdom              England  6232343  10646196         1.708217
31   United States              Alabama      105       210         2.000000
32   United States              Arizona     5100      9379         1.839020
33   United States           California  9899751  17672620         1.785158
34   United States              Florida     6314     11014         1.744378
35   United States              Georgia     2915      4862         1.667925
36   United States             Illinois    11535     20141         1.746077
37   United States             Kentucky     1540      3756         2.438961
38   United States        Massachusetts     2532      4084         1.612954
39   United States            Minnesota     1238      1466         1.184168
40   United States          Mississippi     1362      1684         1.236417
41   United States             Missouri      733      1739         2.372442
42   United States              Montana      857      2005         2.339557
43   United States             New York     2755      5257         1.908167
44   United States       North Carolina      186       405         2.177419
45   United States                 Ohio     4340      9747         2.245853
46   United States               Oregon  2192242   3450410         1.573918
47   United States       South Carolina      720      1241         1.723611
48   United States                Texas     4313      6835         1.584744
49   United States                 Utah     2442      4037         1.653153
50   United States             Virginia      555      1172         2.111712
51   United States           Washington  4743960   6741510         1.421072
52   United States              Wyoming    16408     21973         1.339164

#### **Prescriptive Analytics: Operational and Strategic Recommendations**

### **5. Market Segmentation Division**

This division helps break down the market into meaningful segments for better product positioning and marketing strategies.

#### **Analysis 1: Market Segmentation by Age and Gender**

In [20]:
# Segmentation by age and gender
segment_sales = df.groupby(['Age_Group', 'Customer_Gender']).agg({
    'Revenue': 'sum',
    'Order_Quantity': 'sum'
}).reset_index()
segment_sales

              Age_Group Customer_Gender   Revenue  Order_Quantity
0        Adults (35-64)               F  21269149          328479
1        Adults (35-64)               M  21315004          343938
2         Seniors (64+)               F    130050            4506
3         Seniors (64+)               M    177992            5371
4  Young Adults (25-34)               F  15194242          214441
5  Young Adults (25-34)               M  15461372          232434
6           Youth (<25)               F   5342158           98307
7           Youth (<25)               M   6381041          117840

#### **Analysis 2: BCG Matrix for Product Categories**

In [21]:
# BCG matrix analysis for product categories
total_revenue = df['Revenue'].sum()
category_performance = df.groupby('Product_Category').agg({
    'Revenue': 'sum',
    'Order_Quantity': 'sum'
}).reset_index()

# Market share calculation
category_performance['Market_Share'] = category_performance['Revenue'] / total_revenue
category_performance

  Product_Category   Revenue  Order_Quantity  Market_Share
0      Accessories  15117992         1054162      0.177293
1            Bikes  61782134           36411      0.724539
2         Clothing   8370882          254743      0.098168

In [ ]:
# Calculate Total Revenue per Product Category/Sub-Category
## Group by Product Category or Sub-Category and calculate total revenue
category_revenue = df.groupby('Product_Category')['Revenue'].sum().reset_index()
category_revenue.columns = ['Product_Category', 'Total_Revenue']

# Calculate Market Share
## Calculate total market revenue
total_market_revenue = category_revenue['Total_Revenue'].sum()

## Calculate market share for each category
category_revenue['Market_Share'] = (category_revenue['Total_Revenue'] / total_market_revenue) * 100

# Calculate Market Growth Rate
## Group by Product Category and Year to calculate annual revenue
yearly_revenue = df.groupby(['Year', 'Product_Category'])['Revenue'].sum().reset_index()

## Calculate year-over-year growth for each category
yearly_revenue['Revenue_Growth'] = yearly_revenue.groupby('Product_Category')['Revenue'].pct_change() * 100

# Calculate Relative Market Share
## Find the category with the largest market share
max_market_share = category_revenue['Market_Share'].max()

## Calculate relative market share for each category
category_revenue['Relative_Market_Share'] = category_revenue['Market_Share'] / max_market_share

# Classify Products into BCG Matrix Categories
# Stars: High growth, high market share (market share > 1 and growth rate > market average)
# Cash Cows: Low growth, high market share (market share > 1 and growth rate < market average)
# Question Marks: High growth, low market share (market share < 1 and growth rate > market average)
# Dogs: Low growth, low market share (market share < 1 and growth rate < market average)
## Define average market growth rate for classification
average_growth_rate = yearly_revenue['Revenue_Growth'].mean()

## Classify each category
category_revenue['BCG_Category'] = category_revenue.apply(
    lambda row: 'Star' if row['Relative_Market_Share'] > 1 and row['Revenue_Growth'] > average_growth_rate else
                'Cash Cow' if row['Relative_Market_Share'] > 1 and row['Revenue_Growth'] <= average_growth_rate else
                'Question Mark' if row['Relative_Market_Share'] < 1 and row['Revenue_Growth'] > average_growth_rate else
                'Dog',
    axis=1
)

import matplotlib.pyplot as plt

# Visualize the BCG Matrix
## Plot BCG matrix
plt.figure(figsize=(10, 6))
for category in category_revenue['BCG_Category'].unique():
    subset = category_revenue[category_revenue['BCG_Category'] == category]
    plt.scatter(subset['Relative_Market_Share'], subset['Revenue_Growth'], label=category, s=subset['Total_Revenue'] * 0.01)

plt.title('BCG Matrix')
plt.xlabel('Relative Market Share')
plt.ylabel('Revenue Growth (%)')
plt.legend()
plt.show()

#### **Analysis 3: Product Category Market Share and Growth**

In [22]:
# Growth rate calculation year-over-year for product categories
category_growth = df.groupby(['Product_Category', 'Year']).agg({
    'Revenue': 'sum'
}).pct_change().reset_index().sort_values(by='Revenue', ascending=False)
category_growth

   Product_Category  Year   Revenue
4             Bikes  2011  1.158014
8             Bikes  2015  0.944371
1       Accessories  2014  0.268711
3       Accessories  2016  0.264239
13         Clothing  2016  0.127930
11         Clothing  2014  0.125613
6             Bikes  2013  0.074412
5             Bikes  2012  0.023547
12         Clothing  2015 -0.137433
7             Bikes  2014 -0.227974
9             Bikes  2016 -0.231564
2       Accessories  2015 -0.234684
10         Clothing  2013 -0.824392
0       Accessories  2013       NaN

## DRAFT

### 1. **Product Division** (Analyzing Product Performance)

This division focuses on understanding the performance of various products and product categories to guide inventory, marketing, and development strategies.

#### **Analysis 1: Top-selling Products by Revenue and Profit**
- Insight: Identify top-performing products to focus on.
   ```python
   top_products_revenue = product_performance.sort_values(by='Revenue', ascending=False).head(10)
   top_products_profit = product_performance.sort_values(by='Profit', ascending=False).head(10)
   ```

#### **Analysis 2: Product Category and Sub-category Performance**
- Insight: Understand the contributions of different product categories and sub-categories to revenue and profit.
   ```python
   category_performance = df.groupby(['Product_Category', 'Sub_Category']).agg({
       'Revenue': 'sum', 'Profit': 'sum', 'Order_Quantity': 'sum'
   }).reset_index().sort_values(by='Revenue', ascending=False)
   ```

#### **Analysis 3: Low-performing Products**
- Insight: Identify underperforming products to either improve or discontinue.
   ```python
   low_products_revenue = product_performance.sort_values(by='Revenue').head(10)
   low_profit_margin = product_performance.sort_values(by='Profit_Margin').head(10)
   ```

#### **Predictive Analytics: Forecast Product Demand (XGBoost)**
- Insight: Use XGBoost to forecast demand for specific product categories.
   ```python
   # Forecast demand for Accessories, Bikes, and Clothing using XGBoost
   ```

### 2. **Customer Division** (Understanding Customer Demographics and Behavior)

This division focuses on customer analysis, including demographics, purchase behavior, and customer lifetime value.

#### **Analysis 1: Customer Age Group and Revenue**
- Insight: Understand which age groups are driving sales.
   ```python
   age_group_revenue = df.groupby('Age_Group').agg({
       'Revenue': 'sum', 'Order_Quantity': 'sum'
   }).reset_index().sort_values(by='Revenue', ascending=False)
   ```

#### **Analysis 2: Gender-based Buying Behavior**
- Insight: Compare male and female customers' buying behavior.
   ```python
   gender_sales = df.groupby('Customer_Gender').agg({
       'Revenue': 'sum', 'Order_Quantity': 'sum'
   }).reset_index()
   ```

#### **Analysis 3: Customer Lifetime Value (CLV)**
- Insight: Identify the most valuable customers.
   ```python
   clv = df.groupby('Customer_ID').agg({
       'Revenue': 'sum', 'Order_Quantity': 'sum'
   }).reset_index().sort_values(by='Revenue', ascending=False)
   ```

#### **Predictive Analytics: Forecast Customer Demand (XGBoost)**
- Insight: Use XGBoost to forecast customer purchasing behavior and demand.
   ```python
   # Forecast customer demand based on historical behavior
   ```

### 3. **Sales and Regional Performance Division**

This division explores sales trends and performance across regions and time to drive location-based strategies.

#### **Analysis 1: Revenue by Region (Country, State)**
- Insight: Identify top-performing regions to allocate resources effectively.
   ```python
   regional_sales = df.groupby(['Country', 'State']).agg({
       'Revenue': 'sum', 'Order_Quantity': 'sum'
   }).reset_index().sort_values(by='Revenue', ascending=False)
   ```

#### **Analysis 2: Monthly and Yearly Sales Trends**
- Insight: Analyze sales patterns over time to spot trends and predict seasonality.
   ```python
   monthly_sales = df.groupby(['Year', 'Month']).agg({
       'Revenue': 'sum'
   }).reset_index().sort_values(by=['Year', 'Month'])
   ```

#### **Analysis 3: Sales Growth Rate by Region**
- Insight: Calculate and monitor growth rate by region to identify expansion opportunities.
   ```python
   growth_rate_region = df.groupby(['Country', 'State', 'Year']).agg({
       'Revenue': 'sum'
   }).pct_change().reset_index().sort_values(by='Revenue', ascending=False)
   ```

#### **Predictive Analytics: Revenue Forecasting (XGBoost)**
- Insight: Use XGBoost to forecast future revenue by region.
   ```python
   # Predict future regional sales using XGBoost
   ```

### 4. **Profitability and Cost Efficiency Division**

This division dives into profit generation and cost efficiency across different business areas.

#### **Analysis 1: Profit by Product Category and Sub-category**
- Insight: Identify which product categories generate the highest profit.
   ```python
   profitability_category = df.groupby(['Product_Category', 'Sub_Category']).agg({
       'Profit': 'sum'
   }).reset_index().sort_values(by='Profit', ascending=False)
   ```

#### **Analysis 2: Profit Margins by Product**
- Insight: Calculate the profit margin for each product to determine efficiency.
   ```python
   profit_margin_by_product = df.groupby('Product').agg({
       'Profit_Margin': 'mean'
   }).reset_index().sort_values(by='Profit_Margin', ascending=False)
   ```

#### **Analysis 3: Cost Efficiency by Region**
- Insight: Analyze how cost-efficient different regions are in terms of revenue generated vs. cost.
   ```python
   regional_cost_efficiency = df.groupby(['Country', 'State']).agg({
       'Cost': 'sum', 'Revenue': 'sum'
   }).reset_index()
   regional_cost_efficiency['Cost_Efficiency'] = regional_cost_efficiency['Revenue'] / regional_cost_efficiency['Cost']
   ```

#### **Prescriptive Analytics: Operational and Strategic Recommendations**
- Insight: Use profitability and forecast insights to recommend actions on staffing, marketing, and product management.
   ```python
   # Recommend resource allocation based on profitability and growth forecasts
   ```

### 5. **Market Segmentation Division**

This division helps break down the market into meaningful segments for better product positioning and marketing strategies.

#### **Analysis 1: Market Segmentation by Age and Gender**
- Insight: Segment customers by demographic groups to understand how different segments contribute to overall sales.
   ```python
   segment_sales = df.groupby(['Age_Group', 'Customer_Gender']).agg({
       'Revenue': 'sum', 'Order_Quantity': 'sum'
   }).reset_index()
   ```

#### **Analysis 2: BCG Matrix for Product Categories**
- Insight: Classify product categories into **Stars**, **Cash Cows**, **Dogs**, and **Question Marks** to guide strategic focus.
   ```python
   # BCG matrix for product categories based on revenue and growth rate
   ```

#### **Analysis 3: Product Category Market Share and Growth**
- Insight: Calculate market share and growth rate for each product category.
   ```python
   category_growth = df.groupby(['Product_Category', 'Year']).agg({
       'Revenue': 'sum'
   }).pct_change().reset_index().sort_values(by='Revenue', ascending=False)
   ```